[Desktop Entry]
Type=Application
Name=st Fira
Comment=simple-terminal emulator for X, with Fira Code
Icon=utilities-terminal
Exec=/home/simon/.scripts/st-fira
Categories=System;TerminalEmulator
